.logo {
  &:not(.logo--footer) {
    display: grid;
    grid-template-columns: 34px 1fr;
    align-items: center;
    gap: 13px;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 61px 1fr;
      gap: 10px;
    }

    @media (min-width: $breakpoint-large) {
      grid-template-columns: 74px 1fr;
    }
  }

  &:link:hover {
    opacity: 0.8;
  }

  &:link:active {
    opacity: 0.6;
  }

  img {
    display: block;
  }
}

.logo--footer {
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-small-down) {
    padding: 8px;
    justify-content: center;
  }
}

.logo__sign {
  width: 101px;
  justify-self: center;

  @media (min-width: $breakpoint-medium) {
    width: 102px;
  }

  @media (min-width: $breakpoint-large) {
    width: 118px;
    margin-top: 7px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 34px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $breakpoint-medium) {
    width: 61px;
  }

  @media (min-width: $breakpoint-large) {
    width: 71px;
  }

  .logo--footer & {
    width: 128px;
    height: 24px;

    @media (min-width: $breakpoint-medium) {
      height: 24px;
    }
  }
}

.page-header__bar .page-header__logo--form {
  gap: 10px;
}

.logo__sign--form {
  margin-top: 5px;
}

.logo__image--form {
  margin-top: -3px;

  @media (min-width: $breakpoint-medium) {
    margin-top: 0;
  }
}
